header{
	background: black;
	color: white;
	text-align: center;


}

aside{
	border: 1px  solid black;
	float: left;
	width: 40%;


}

main{
	border: 1px  solid red;
	width: 60%;
	margin-left: 40%;
	height: 200px;

}

footer{
	background: black;
	color: white;
	text-align: center;
	margin-top: 500px;


}